<!--templates/list_posts.html-->
{% extends 'base.html' %}

{% block content %}
    {% for post in posts %}
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold">{{post.title}}</span>
            <span class="text-muted">by {{post.author}} |
            {{post.date}} </span>
        </div>
        <div class="card-body">
            {{ post.body }}
            <a href="{% url 'edit_post' post.pk %}">Edit</a> | <a href="{% url 'delete_post' post.pk %}">Delete</a>
        </div>
        <div class="card-footer text-center text-muted">
            {% for comment in post.comments.all %}
            <p>
                <span class="font-weight-bold">{{comment.author }}</span> says : {{comment}}
            </p>
            {% endfor %}
        </div>
    </div>
    <br/>
    {% endfor %}
{% endblock content %}